{% extends 'base.html' %}
{% block content %}
{% include 'partials/navbar.html' %}
{% load static from staticfiles %}

<div class="container">
    <h1> Welcome to the Company !! </h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/users.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Please Enter your Details</h5>
        <form method="post">
          <p class="card-text">
          {% csrf_token %}
          {{form.as_p}}</p>
          <p> I hereby agree all details are correct when clicking "submit"</p>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/binary1.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">User Details</h5>
        <p class="card-text">
          {% if edit %}
          <form method="post">
            <p class="card-text">
            <input type="hidden" name="csrfmiddlewaretoken" value="p7LaknNGxJDXq0B3HHvErkBbHJywnW7qbGxA2UIRy98br4gYje5HV1bwJIJqK8Jz">
              <p><label for="{{form.id.id_for_label}}">{{form.id.label_tag}}</label> {{form.id.value}}</p>
            {% for field in form %}
              <p><label for="{{field.id_for_label}}">{{field.label_tag}}</label> {{field.value}}</p>
            {% endfor %}

          </form>
          {% endif %}
          <form action="{% url 'search' %}" class="form-inline" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name='search' type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

      </div>
    </div>
    </div>
    </div>



{% endblock %}
